.dhx_section_datetime > div:first-child{margin-bottom: 5px;}
.dhx_section_datetime label{width: 40px; display: inline-block; font-size: 12px;}
.dhx_section_datetime .datepicker, .dhx_section_datetime .timepicker{width: 85px; text-align: center;}
.dhx_section_datetime .full_date_wrapper{float: right;}
/*
.dhx_section_datetime .full_date_wrapper{ width:70px; margin-top:5px; text-transform: uppercase;}
.dhx_section_datetime .full_date_wrapper input{margin: 0;}
*/

.dhx_section_datetime .reminder{ width: 98px; float: right; text-align: center;}