
.positionSelection {
    width: 138px;    
}


.gluedDivider {
    height: 90px;
    width: 2px;
    background: #f1f1f1;
    display: inline-block;
}

.glued-dropdown{
	width: 200px;
	display: inline-block;
	vertical-align: top;
}

.glued-slider{
	display: inline-block;
	vertical-align: top;
	top: 45px;	
	left:65px;
	
	line-height: 17px;
	color: #484848;
	font-size: 12px;
}


.glued-slider.horizontalMargin:before {
	content: 'Left';
	position: relative;
	right: 30px;
	display: inline-block;
	top: -1px;
}

.glued-slider.horizontalMargin:after {
	content: 'Right';
	left: 93%;
	top: -1px;
	position: relative;
}


.glued-slider.verticalMargin:before {
	content: 'Top';
	position: relative;
	right: 30px;
	display: inline-block;
	top: -1px;
	
}

.glued-slider.verticalMargin:after {	
	content: 'Bottom';
	left: 93%;
	top: -1px;
	position: relative;
	
}


.glued-slider.disabled {
	opacity:0.5;
	
}