@CHARSET "utf-8";
#cal-form{margin-top: 50px;}

.dhx_cal_light select{width: auto; height: auto; line-height: normal;}
.dhx_cal_light label{display:inline;}

.cal_import_button{
	background: none repeat scroll 0 0 transparent;
	border: 1px solid #CECECE;
	border-radius: 5px 5px 5px 5px;
	color: #747473;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	left: auto;
	right: 220px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	width: 80px;
}

/*Fix left border issue*/

.dhx_scheduler_month .dhx_month_head{width: auto !important;}
.dhx_multi_day{width: 100% !important;}
.dhx_cal_data tr td:first-child .dhx_month_head, .dhx_cal_data tr td:first-child  .dhx_month_body, .dhx_scheduler_month .dhx_cal_header .dhx_scale_bar:first-child, .dhx_scheduler_week .dhx_scale_holder .dhx_scale_hour, .dhx_scheduler_day .dhx_scale_holder .dhx_scale_hour, .dhx_scheduler_day .dhx_cal_header .dhx_scale_bar, .dhx_multi_day{background: 0 0 repeat-y url("/images/neverMiss/calLeftBorder.gif");}
.dhx_scheduler_day .dhx_cal_header .dhx_scale_bar, .dhx_multi_day{background-position: right 0;}
.dhx_scheduler_week .dhx_cal_header .dhx_scale_bar{background: transparent;}
.dhx_multi_day_icon_small{border-left: 1px solid #cecece; width: 49px !important;}
.dhx_scheduler_week, .dhx_scheduler_day, .dhx_scheduler_month{border-bottom: 1px solid #cecece;}

#clear-events{margin-top: 25px; display: inline-block;}


