#contact-box{margin: 0 auto; width: 520px;}
#contact-form, #contact-info{width: 250px; float: left;}
#contact-info{margin-left: 20px;}
#contact-info ul li{margin: 5px 0;}

.form, .loading .loading-img{display:block;}
.loading-img, .loading .form{display: none;}
.loading-img{height: 150px; background: center center no-repeat url('/images/neverMiss/layout/ajax-loader.gif');}


/*CSS Queries - NOT WORKING ON IE < 9!
****************************************/
@media (max-width: 540px) {
	#contact-box{width: auto;}
	#contact-form{width: auto; float: none;}
	#contact-info{margin: 0;}
}