@CHARSET "utf-8";

/*body{padding-top: 66px;}*/

#top-navbar-placholder{margin-bottom: 0px;}
.navbar-fixed-top{margin-bottom: 0;} /*mobile top navigation - remove margin top*/

/* Banner
*********/
#banner{/*height:475px;*/ background: center center no-repeat #67411c url("/images/neverMiss/index/banner.jpg"); background-size: cover; border-bottom: 1px solid #848484;}
#banner .container{position: relative;}
#banner-content{margin-top: 90px;}

#banner-col-left{float: left; width: 540px;}
#banner-col-right{float: right;}

#banner-col-left h1{font-size: 44px; line-height:50px; font-weight: bold; color:#ffc229; text-transform: uppercase; text-shadow:1px 1px 2px #1a120c; margin-top:0px; margin-bottom: 34px;}
#banner-col-left p{color: #fff; text-shadow:1px 1px 1px #1a120c; font-size: 25px; line-height: 29px; margin-bottom: 0;}

/*calendars caounter*/
#cal-down-counter-wrapper{position: absolute; right: 0; top: 0; display:block;  line-height: 30px; padding: 0 10px; background-color: #1a1a1a; color: #ffc229; font-family: SignikaRegular; font-size: 11px; text-transform: uppercase;}
#cal-down-counter{font-size: 26px; margin-left: 10px;}

.btn.btn-large.start-now-btn{margin:60px auto; padding: 13px 21px; font-size: 28px; font-family: arial;}


/* 3 box section */
.box{background-position: 0 25px; background-repeat: no-repeat; margin-top: 34px; margin-bottom: 25px;}

.box h3{color: #ffc229; text-transform: uppercase; font-size: 25px; margin-bottom:15px; line-height: 72px; height: 52px;}
.box .box-icon-a, .box .box-icon-b, .box .box-icon-c{height: 52px; background-position: 0 0; background-repeat: no-repeat; display: inline-block; vertical-align: top;}
.box .box-icon-a{background-image: url("/images/neverMiss/index/iconA.png"); width: 28px;}
.box .box-icon-b{background-image: url("/images/neverMiss/index/iconB.png"); width: 56px;}
.box .box-icon-c{background-image: url("/images/neverMiss/index/iconC.png"); width: 44px;}

.box p{font-size: 13px; line-height: 17px;}

/*down cal link section*/
#down-cal-link{font-size: 24px; color: #333; text-decoration: none; margin-top: 25px; margin-bottom: 125px; display: inline-block;}

#player-wrapper{width: 385px; height: 240px;}

/*CSS Queries - NOT WORKING ON IE < 9!
****************************************/
@media (max-width: 979px) {
	#banner-col-left h1{font-size: 28px; line-height:32px;}
	#banner-col-left p{font-size: 21px; line-height: 25px;}
	#player-wrapper{width: 315px; height: 177px;}
	.box{text-align: center;}
	.box h3{font-size: 25px; white-space: nowrap;}
}
@media (min-width: 768px) and (max-width: 979px) {
	#banner-content{margin-top: 80px;}
	#banner-col-left{width: 350px;}
	#banner-col-left h1{margin-bottom: 20px;}
	
	.start-now-btn{margin: 40px auto;}
}

@media (max-width: 767px) {
	#banner-content{margin-top: 20px;}
	
	#banner-col-left, #banner-col-right{float: none; padding: 10px; width: auto;}
	
	#banner-col-left h1, #banner-col-left p{text-align: center;}
	#banner-col-left h1{margin: 10px 0;}
	
	#player-wrapper{margin: 0 auto;}
}
/*
@media (min-width: 1200px) {
	#banner h1{font-size: 54px;}
}

@media (max-width: 979px) {
	body{padding-top: 0;}
	#start-now-btn{margin: 15px 0;}
	#cal-down-counter-wrapper{margin-bottom: 15px; position: inherit;}
}

@media (min-width: 768px) and (max-width: 979px) {
	#banner h1{font-size: 33px; line-height:normal; margin-top: 40px;}
	#banner p{font-size: 20px; line-height: normal;}
	#start-now-btn{padding: 11px 80px;}
}

@media (max-width: 767px) {
	
	#banner{ padding: 0 15px;}
	
	#banner h1{font-size: 20px; line-height:inherit; margin: 10px; }
	#banner p{font-size: 14px; line-height: normal;}
	
	.box{padding-left: 82px;}
}
*/