/*@IMPORT url("/fonts/signika/stylesheet.css");*/
.is-popup .hidden-popup, .visible-popup{display: none !important;}
.is-popup .visible-popup, .hidden-popup{display: block !important;}

html, body{height: 100%;}
body{/*padding-top: 80px;*/ font-size: 12px; font-family: arial}

.cb{clear: both;}
.cr{clear: right;}
.pl0{padding-left: 0 !important;}
.mt0{margin-top: 0;}
.mt10{margin-top: 10px;}
.mb15{margin-bottom: 15px;}
.ml15{margin-left: 15px;}
.color-y{color: #ffc229;}
.fs14{font-size:14px;};

.bby{border-bottom: 1px solid #ffc229;}

/*sections*/
.section{border-bottom: 1px solid #ffc229;}
.section.light-gray{background-color: #f2f2f2;}

hr{border-bottom: 1px solid #ffc229; border-top: none;}

h2{text-transform: uppercase; font-size: 38px; margin-bottom: 25px;}
h2 .btn.btn-success{font-weight: normal; margin-top: 4px;}

/*yellow icons*/
.icon-yellow,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"] {
  background-image: url("/bundle/bootstrap/img/glyphicons-halflings-yellow.png");
}

/*More Icons*/
.icon-loading{background-image: url("/images/neverMiss/icons/ajax-loader-black.gif"); background-repeat: no-repeat; background-position: 0 center; width: 16px;}
.icon-loading.icon-white{background-image: url("/images/neverMiss/icons/ajax-loader-white.gif");}

/* buttons*/
.btn{background: #b2b2b2; border-color: #fff; color: #333; text-shadow-color: #fff; text-transform: uppercase; font-size:17px; line-height:18px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; box-shadow:1px 1px 3px #3d3d3d; padding: 4px 22px;}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled]{background: #b2b2b2; color: #000;}

.btn-success{background: #ffc229;}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled]{background: #ffbf20; color: #000;}

.btn.disabled{background: gray !important;}

.btn.btn-small{font-size: 16px; height: 30px; line-height: 30px; padding: 0 10px; background: #ffbf20; border: none; text-shadow: none; box-shadow:none;}
.btn.btn-small:hover, .btn-small:focus, .btn-small:active, .btn-small.active, .btn-small.disabled, .btn-small[disabled]{background: #ffbf20;}

.btn.btn-mini{font-size: 13px; line-height: 13px;}
.btn.btn-large{font-size: 26px; line-height: 26px; padding: 5px 25px;}

.btn.loading span, .fb-login.loading span{padding-left: 25px; background: no-repeat 0 center url('/images/neverMiss/icons/ajax-loader-white.gif'); cursor: progress;}

/*Tooltip*/
.tooltip-inner{background-color: #fff; color: #333; border: 1px solid #ffbf20; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;}
.tooltip.top .tooltip-arrow {
  border-top-color: #ffbf20;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #ffbf20;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #ffbf20;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #ffbf20;
}

/*Inputs*/
.placeholder{color: #aaa !important;}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select{border-color: #ffc229; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; font-family:SignikaRegular;}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus, input:focus:invalid, textarea:focus:invalid, select:focus:invalid,input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus{border-color: rgba(255, 194, 41, 0.8); box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 194, 41, 0.6);}
input:focus:invalid, textarea:focus:invalid, select:focus:invalid,input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus{color: inherit;}
textarea.error, input.error[type="text"], input.error[type="password"], input.error[type="datetime"], input.error[type="datetime-local"], input.error[type="date"], input.error[type="month"], input.error[type="time"], input.error[type="week"], input.error[type="number"], input.error[type="email"], input.error[type="url"], input.error[type="search"], input.error[type="tel"], input.error[type="color"]{border-color: #E9322D !important; box-shadow:0 0 3px red !important;}

/*Form box*/
.form-box{box-shadow: 2px 2px 5px #000; padding-bottom: 35px; font-family: signikaregular; border: 1px solid #ccc; background-color: #f2f2f2;}
.form-box .content{width: 300px; margin: 0 auto; display: block;}
.form-box .actions{margin-top: 20px;}
.form-box h2{background-color: #fbbb2c; font-weight: normal; font-size: 38px; height: 73px; line-height: 73px; margin: 0; text-align: center;}
.form-box input.block{width: 100%; display: block; margin-bottom: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; font-size: 16px; height: 33px; line-height: 33px; padding: 0 14px;}
.form-box h2 strong{color: #fff; font-weight: bold;}
.form-box .help-block a, .form-box .help-block{color: #666; font-size: 14px;}
.form-box .help-block a{text-decoration: underline;}
.form-box .fb-login{display:block; margin:0 auto; margin-top: 46px; margin-bottom: 28px; text-align: center;}
.form-box hr{border-top: 1px solid #cbcbcb; border-bottom: 1px solid #fff; margin: 28px auto;}

/*facebook login*/
.fb-login{background-color: #637bad; border: 1px solid #fff; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; box-shadow: 2px 2px 7px #000; color: #fff; font-size: 21px; padding: 0 20px;}
.fb-login span{background: 0 center no-repeat url('/images/neverMiss/layout/fb-login.png'); padding-left: 35px; height: 52px; line-height: 52px; display: inline-block;}


#container{position: relative; min-height: 100%;}

/* placeholder */
#top-navbar-placholder{height: 65px; margin-bottom: 15px; display: block;} /*for calc #container height*/
#footer-place-hoolder{height: 70px;} /*for calc #container height*/

.is-popup #footer-place-hoolder, .is-popup #top-navbar-placholder{height: 20px; margin: 0;}

/*Alert section*/
.alert ul{margin: 10px 20px;}

.error_list{margin: 0; padding: 0; list-style: none;}
label.error, .error_list > li{color: red;}

/*footer*/
#footer .container{position: relative;}
#footer .soical-nav{position: absolute; right: 0; top: 0;}

#footer a, #footer{color: #4D4D4D; font-family: SignikaRegular;}
#footer{position: absolute; left:0; bottom: 0; width: 100%; background-color: #ffc229; text-align: center; display: block; width: 100%; height:20px; padding:5px 0; margin-top: 15px;}
#footer a{text-transform: uppercase;}


/* Top nav
***********/
.navbar-inner:before, .navbar-inner{border: none;}
.navbar-inner .container{position: relative; }

/*logo*/
#logo{position:absolute; left:0; top:0; z-index:2; display: block; background-position: 0 center; background-repeat: no-repeat; cursor: pointer; background-image: url(/images/neverMiss/layout/logo.png); width: 180px; height: 65px;}

/*main nav*/
#top-nav-wrapper{ position:relative; height: 65px; left:180px;}
#main-nav, #user-nav{position: absolute; bottom: 0px; float: none;}
#main-nav{ left: 50%; margin-left: -380px;}
#user-nav{left:auto; right:180px;}
#user-nav .user-pic{width: 32px; height: 32px; position: absolute; left: -28px; top: -10px;}

.navbar-fixed-top .navbar-inner{background: #1a1a1a;}
.navbar-inverse .nav{font-size: 12px;font-family: SignikaRegular;}
.navbar .nav > li > a{text-transform: uppercase; padding: 0; padding-bottom: 4px; margin: 0 10px; color: #fff;}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{border-bottom: 3px solid #ffc229; padding-bottom: 1px; background: none;}

/*login*/
#nav-login-btn a{padding: 3px 6px; border: 1px solid #ffc229; margin-right:0; margin-bottom: 12px; line-height: 14px;}

/*user nav*/
.caret, .nav .open .dropdown-toggle{color: #fff;}
.nav .dropdown-toggle .caret, .nav .dropdown-toggle:hover .caret, .nav .open .dropdown-toggle .caret{border-top-color: #ffc229 !important; border-bottom-color: #ffc229 !important;}
#user-nav .user-pic{border: 1px solid #ffc229;} 

.dropdown-menu{
	background-color: #1a1a1a;
	border-color:#ffc229;
	 -webkit-border-radius: 0;
	     -moz-border-radius: 0;
	          border-radius: 0;
	margin-top: 0;
}

.dropdown-menu > li > a{text-transform:uppercase; color: #999;}

.navbar .nav > li > .dropdown-menu:after{border-bottom-color:#ffc229; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a{
	background: transparent;
	text-decoration: underline;
}

#user-nav .user-name{
	color: #999999;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 10px 15px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


/* Social nav*/
.soical-nav{display: block; padding: 0; margin: 0; list-style: none;}
.soical-nav li{display: block; float: right; margin-left:5px;}
.soical-icon{display:block; width: 18px; height: 18px; background-repeat: no-repeat; background-image: url('/images/neverMiss/layout/social.png'); cursor: pointer;}
.soical-icon-facebook{background-position: 0 -54px;}
.soical-icon-google{background-position: 0 0;}
.soical-icon-twitter{background-position: 0 -36px;}
.soical-icon-linkdin{background-position: 0 -18px;}


/*CSS Queries - NOT WORKING ON IE < 9!
****************************************/
@media (max-width: 979px) {
	#top-navbar-placholder{display: none;}

	#top-nav-wrapper{display: inline;}
	.navbar .nav > li > a{padding: 9px 15px; margin: 0;}
	.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{border-bottom: inherit;}
	
	#top-nav-wrapper, #logo, #main-nav, #user-nav, #user-nav .user-pic{position:inherit; left: inherit; right: inherit; top:inherit; bottom: inherit;}
	
	#main-nav{margin-left: inherit;}
	#nav-login-btn a{border: inherit; margin:0 0 10px; padding: 9px 15px;}
	
	#logo{ background-image: url(/images/neverMiss/layout/logoSmall.png);  width: 142px; height: 34px; margin-left: 15px;}
	#user-nav .user-pic{width: 20px; height: 20px; margin-right: 5px;}
	
	#footer-place-hoolder{height: 90px;} 
	#footer{height: auto;}
	#footer .soical-nav{position: static; width: 170px; margin: 0 auto;}
}

@media (max-width: 767px) {
	.navbar-fixed-top{padding: 0 20px;}
	body{padding: 0; overflow-x: hidden;}
	.container{padding: 0 20px;}
}





