@IMPORT url("/fonts/signika/stylesheet.css");

html, body{height: 100%;}
body{/*padding-top: 80px;*/ font-size: 12px;}

.cb{clear: both;}
.mt10{margin-top: 10px;}
.color-y{color: #ffc229;}
.fs14{font-size:14px;};

/*sections*/
.section{border-bottom: 1px solid #ffc229;}
.section.light-gray{background-color: #f2f2f2;}

hr{border-bottom: 1px solid #ffc229; border-top: none;}

h2{text-transform: uppercase; font-size: 38px; margin-bottom: 25px;}
h2 .btn.btn-success{font-weight: normal; margin-top: 4px;}

/*yellow icons*/
.icon-yellow,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"] {
  background-image: url("/bundle/bootstrap/img/glyphicons-halflings-yellow.png");
}

/*More Icons*/
.icon-loading{background-image: url("/images/neverMiss/icons/ajax-loader-black.gif"); background-repeat: no-repeat; background-position: 0 center; width: 16px;}
.icon-loading.icon-white{background-image: url("/images/neverMiss/icons/ajax-loader-white.gif");}

/* buttons*/
.btn-success{background: #ffc229; border-color: #fff; color: #333; text-shadow-color: #fff; text-transform: uppercase; font-size:18px; line-height:18px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; box-shadow:1px 1px 3px #3d3d3d; padding: 6px 15px;}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled]{background: #ffbf20; color: #000;}
.btn-success.disabled{background: gray !important;}

.btn-small{text-transform: uppercase; font-size: 16px; height: 30px; line-height: 30px; padding: 0 10px; background: #ffbf20; border: none; text-shadow: none;}
.btn-small:hover, .btn-small:focus, .btn-small:active, .btn-small.active, .btn-small.disabled, .btn-small[disabled]{background: #ffbf20;}

/*Inputs*/
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select{border-color: #ffc229; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus, input:focus:invalid, textarea:focus:invalid, select:focus:invalid,input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus{border-color: rgba(255, 194, 41, 0.8); box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 194, 41, 0.6);}
input:focus:invalid, textarea:focus:invalid, select:focus:invalid,input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus{color: inherit;}
textarea.error, input.error[type="text"], input.error[type="password"], input.error[type="datetime"], input.error[type="datetime-local"], input.error[type="date"], input.error[type="month"], input.error[type="time"], input.error[type="week"], input.error[type="number"], input.error[type="email"], input.error[type="url"], input.error[type="search"], input.error[type="tel"], input.error[type="color"]{border-color: #E9322D !important; box-shadow:0 0 3px red !important;}

/*facebook login*/
.fb-login {
    width: auto;
    background: url("/images/facebook/fIconBg.png") repeat-x scroll right top transparent;
    border: 1px solid #415B91;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    display: inline-block;
}

.fb-login span {
    background: url(/images/facebook/fIcon.png) no-repeat scroll left top transparent;
    height: 20px;
    outline: medium none;
    padding: 0 5px 0 30px;
    display: inline-block;
}



#container{position: relative; min-height: 100%;}

#top-navbar-placholder{height: 66px; margin-bottom: 15px; display: block;} /*for calc #container height*/

/*Alert section*/
.alert ul{margin: 10px 20px;}

.error_list{margin: 0; padding: 0; list-style: none;}
label.error, .error_list > li{color: red;}

/*footer*/
#footer-place-hoolder{height: 50px;} /*for calc #container height*/
#footer a, #footer{color: #4d4d4d;}
#footer{position: absolute; left:0; bottom: 0; width: 100%; background-color: #ffc229; text-align: center; display: block; width: 100%; padding:5px 0; margin-top: 15px;}
#footer a{text-transform: uppercase;}

/* Top nav
***********/
#top-nav-place-holder{height: 80px;} /*for calc #container height*/

.navbar-inverse .navbar-inner{border-color: #999;}
.navbar-inner .container{position: relative; }

/*logo*/
#logo{position:absolute; left:0; top:0; z-index:2; display: block; background-position: 0 center; background-repeat: no-repeat; cursor: pointer; background-image: url(/images/neverMiss/layout/logo.png); width: 180px; height: 65px;}

/*main nav*/
#top-nav-wrapper{ position:relative; height: 65px; left:180px;}
#main-nav, #user-nav{position: absolute; bottom: 0px; float: none;}
#main-nav{ left: 50%; margin-left: -380px;}
#user-nav{left:auto; right:180px;}
#user-nav .user-pic{width: 32px; height: 32px; position: absolute; left: -28px; top: -8px;}

.navbar-inverse .nav{font-size: 12px;font-family: SignikaRegular;}
.navbar .nav > li > a{text-transform: uppercase;}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{border-bottom: 3px solid #ffc229; padding-bottom: 7px;}

/*login*/
#nav-login-btn a{padding: 3px 6px; border: 1px solid #ffc229; margin-bottom: 12px;}

/*user nav*/
.caret, .nav .open .dropdown-toggle{color: #fff;}
.nav .dropdown-toggle .caret, .nav .dropdown-toggle:hover .caret, .nav .open .dropdown-toggle .caret{border-top-color: #ffc229 !important; border-bottom-color: #ffc229 !important;}
#user-nav .user-pic{border: 1px solid #ffc229;} 

.dropdown-menu{
	background-color: #1a1a1a;
	border-color:#ffc229;
	 -webkit-border-radius: 0;
	     -moz-border-radius: 0;
	          border-radius: 0;
	margin-top: 0;
}

.dropdown-menu > li > a{text-transform:uppercase; color: #999;}

.navbar .nav > li > .dropdown-menu:after{border-bottom-color:#ffc229; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a{
	background: transparent;
	text-decoration: underline;
}

#user-nav .user-name{
	color: #999999;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 10px 15px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


/*CSS Queries - NOT WORKING ON IE < 9!
****************************************/
@media (max-width: 979px) {
	#top-navbar-placholder{display: none;}
	
	#top-nav-place-holder{display: none;}

	#top-nav-wrapper{display: inline;}
	.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{border-bottom: inherit; padding-bottom: inherit;}
	
	#top-nav-wrapper, #logo, #main-nav, #user-nav, #user-nav .user-pic{position:inherit; left: inherit; right: inherit; top:inherit; bottom: inherit;}
	
	#main-nav{margin-left: inherit;}
	#nav-login-btn a{border: inherit; margin:0 0 10px; padding: 9px 15px;}
	
	#logo{ background-image: url(/images/neverMiss/layout/logoSmall.png);  width: 142px; height: 34px; margin-left: 15px;}
	#user-nav .user-pic{width: 20px; height: 20px; margin-right: 5px;}
}




