.mt10{margin-top: 10px;}

.alert ul{margin: 10px 20px;}

.error_list{margin: 0; padding: 0; list-style: none;}
label.error, .error_list > li{color: red;}

/*facebook login*/
.fb-login {
    width: auto;
    background: url("/images/facebook/fIconBg.png") repeat-x scroll right top transparent;
    border: 1px solid #415B91;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    display: inline-block;
}

.fb-login span {
    background: url(/images/facebook/fIcon.png) no-repeat scroll left top transparent;
    height: 20px;
    outline: medium none;
    padding: 0 5px 0 30px;
    display: inline-block;
}

/*More Icons*/
.icon-loading{background-image: url("/images/neverMiss/icons/ajax-loader-black.gif"); background-repeat: no-repeat; background-position: 0 center; width: 16px;}
.icon-loading.icon-white{background-image: url("/images/neverMiss/icons/ajax-loader-white.gif");}