#container{background: 0 0 #000 no-repeat url('/images/neverMiss/layout/bg.jpg'); background-size: cover;}

#main{box-shadow:2px 2px 5px #000; background-color: #f2f2f2; margin-top: 27px;}
#main-padding{padding-top: 37px; padding-left: 37px; padding-right: 54px; padding-bottom: 50px;}
#sign-up-box{width: 405px; float: left;}
#preview-box{float: right; width: 400px;}
#preview-box h2{height: 73px; line-height: 73px; margin: 0;}
#preview{background: center 0 no-repeat url("/images/neverMiss/widget/widget-bg.png"); height: 474px; position: relative;}
#widget{position: absolute; width: 130px; height: 40px; left: 50%; top:50%; margin-left: -65px; margin-top: -20px;}

@media (max-width: 979px) {
	#main-padding{padding: 25px;}
	#sign-up-box, #preview-box{width: 320px;}
}

@media (max-width: 767px) {
	#main{margin: 0;}
	#main-padding{padding: 20px 0;}
	#sign-up-box, #preview-box{float: none; width: auto;}
}