@CHARSET "utf-8";

body{background-color: #f2f2f2;}

#copy-js-code, #message{resize: none; height: 50px; font-size: 12px; line-height: 15px; width: 100%;}
#register-login-wrapper{font-weight: normal; font-size: 14px; margin-top:25px; margin-bottom: 50px;}
.register-login-btn{margin-left: 8px; height: 22px; line-height: 22px; font-size:12px; padding:0 8px; text-transform: uppercase; background-color: #ffc229; color: #1a1a1a;}
.register-login-btn:hover{color: #000; text-decoration: none;}

.form-horizontal .control-label, #email-form label{font-family: 'PT Sans Narrow', sans-serif; font-size: 16px; font-weight: bold; text-align: left; color:#ffc229;}
.form-horizontal .control-label .caption, #email-form label .caption{font-weight: normal; color: #000;}
.form-horizontal .controls input, .form-horizontal .controls select, .form-horizontal .controls textarea{width: 100%;}
.form-horizontal .controls .inline input{width: auto; margin-top: 0;}
.form-horizontal .controls textarea, #copy-js-code, #message{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;}

#widget-bg{background: 0 0 no-repeat url("/images/neverMiss/widget/widgets-bg.jpg"); width: 460px; min-height: 240px; display: block; position: relative; margin-top: 70px;}
#desktop-widget{padding-top: 100px; padding-left: 160px;}