body{background-color: transparent;}
#widget-wrapper{padding: 10px; border: 1px solid #ccc; background-color: rgba(255,255,255,0.7); box-shadow:1px 1px 2px #000;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
margin: 5px;
}

#btns{margin-bottom: 10px;}
/*
.cal-link{width: 100px; height: 31px; line-height:31px; font-size:12px; float: left; display: block; margin-right: 7px; cursor: pointer; background: 0 bottom no-repeat url("/widgets/neverMiss/imgs/cal-link.png"); text-decoration: none; color: #333; font-size: 10px;}

.cal-link:hover{color: #000;}
.cal-link span{padding-left: 33px; background-position: 7px center; background-repeat: no-repeat; background-image: url("/widgets/neverMiss/imgs/cal-link.png"); display: block;}

.cal-link.outlook span{background-position: 0 0;}
.cal-link.ical span{background-position: 0 -31px;}
.cal-link.google span{background-position: 0 -62px;}
*/

.upcoming-wrapper{font-size: 12px; /*padding: 10px; background-color: #fff;*/}
.upcoming-wrapper h4, .upcoming-wrapper h5{margin: 0;}
.upcoming-wrapper h4{font-size: 14px; border-bottom: 3px solid #FFC229; padding-bottom: 7px;}
.upcoming-wrapper h5{font-size: 13px;}
.upcoming-wrapper ul{margin: 0; padding: 0; list-style: none;}
.upcoming-wrapper > ul > li{border-top: 2px solid #FFC229; padding: 10px 0;}
.upcoming-wrapper > ul > li:first-child, .upcoming-wrapper > ul > li > ul > li:first-child {border-top:none;}
.upcoming-wrapper > ul > li > ul > li{border-top:1px solid #333; margin-left: 5px;}
