html, body{height: 100%;}
body, #footer{background-color: #fff;}
body{margin: 0; padding: 0; /*font-family: 'PT Sans Narrow';*/ font-weight: 400; overflow: hidden;}

a{color:#000;}
.cb{clear:both;}

#container{position: relative; min-height: 100%;}
#footer, #container{min-width: 200px;}

ul{padding-left: 0; padding-right: 0;}

#events li, h1{border-bottom-color: #ffc229; border-bottom-style: solid;}
h1, #events li{margin-right: 30px;}
h1, #events li, #btns-title{padding-left: 16px;}
h1{font-weight: 400; font-size: 22px; line-height:22px; padding-top:17px; padding-bottom:9px; margin-top:0; border-bottom-width:5px; /*text-transform: uppercase;*/ overflow: hidden; height: 22px; white-space: nowrap;}

#events{margin: 0; margin-top:32px; margin-bottom:22px; list-style: none;}
#events li{font-size: 12px; line-height:13px; border-bottom-width:2px; margin-top: 25px;}
#events li:first-child{margin-top: 0;}
#events li .date, #events li .time{font-weight: 700;}
#events li .date{float: left;}
#events li .time{float: right;}
#events li .name{text-transform: uppercase; margin-bottom: 4px;}
#events li .desc{padding-bottom: 4px;}
#events li .desc .desc-txt p{margin: 0; margin-bottom: 3px;}
#events li .desc .desc-open-btn, #events li .desc.open .desc-txt, #events li .desc.open .desc-close-btn{display: block;}
#events li .desc .desc-txt, #events li .desc.open .desc-open-btn, #events li .desc .desc-close-btn{display: none;}
#events li .desc .desc-txt{margin-top: 10px; font-size: 10px;}

#events li .desc .desc-open-btn{text-align: right; font-size: 10px; text-decoration: none; color:#ffc229;}
#events li .desc .desc-close-btn{width: 0; height:0; background:none; border: 5px solid transparent; border-bottom-width:8px; border-bottom-color: #ffc229; float:right; cursor: pointer;}


#footer{position: absolute; left: 0; bottom: 0; width: 100%; z-index: 2;}
#footer a.cal-btn{text-decoration: none;}
#btns-title{background-color: #e5e5e5; color: #666; font-size: 13px; line-height: 13px; height: 13px;}
.cal-btn, .cal-btn:hover{color: #333;}
.cal-btn{width: 33%; height:45px; border-left: 1px solid #e5e5e5; font-size: 12px; display: block; float: left;}
.cal-btn:first-child{border-left: none;}
.cal-btn span{margin-left: 16px; background-position: 0 20px; background-repeat: no-repeat; display: block; height: 100%;}
.cal-btn.outlook span{background-image: url('../imgs/outlook.png');}
.cal-btn.ical span{background-image: url('../imgs/ical.png');}
.cal-btn.google span{background-image: url('../imgs/google.png');}

.cal-btn.mobile{width: 100%; background: #e5e5e5 no-repeat 15px 9px url('../imgs/mobile.png'); height: 40px;}
.cal-btn.mobile span{display:block; margin-left:50px; margin-top:13px; font-size: 13px; color:#666;}

#footer .disabled .cal-btn{cursor: not-allowed;}

.mCSB_container{margin-right: 0;}
.mCustomScrollBox > .mCSB_scrollTools{right: 2px;}
.mCSB_scrollTools .mCSB_draggerRail{background: #e5e5e5;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background: #ffc229;}